@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }

  .p-parent-div {
    @apply my-2 font-asap text-black;
  }

  .img-parent-div {
    @apply mx-8 my-4 flex justify-center;
  }

  .img-parent-div > img {
    @apply shadow-xl;
  }

  .p-parent-div + p {
    @apply mb-2;
  }

  .docs-ul {
    @apply mb-2 ml-4 font-asap text-black;
  }

  .highlight-text {
    @apply rounded-md bg-gray-300 px-2;
  }

  .hover-underline-animation {
    @apply relative;
  }

  .text-url {
    @apply inline-flex items-center text-lg text-accent;
  }

  .hover-underline-animation:after {
    @apply absolute bottom-0 left-0 h-[2px] w-full bg-light-accent;
    content: '';
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-item {
    @apply relative mx-1 py-2 sm:px-1 lg:px-3;
  }

  .nav-item.router-link-active:after {
    @apply absolute bottom-0 left-0 h-[2px] w-full bg-light-accent transition-all;
    transform: scaleX(1);
    transform-origin: bottom left;
    content: '';
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #919191 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }
}

.page-enter-active,
.page-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
