@tailwind base;

@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind utilities;

@layer utilities {
  @variants responsive {
    .w-99vw {
      width: 99vw;
    }
    .h-99vh {
      height: 99vh;
    }
    .h-40vh {
      height: 40vh;
    }
  }
  @variants dark {
  }
}

@layer components {
}

@layer base {
  button {
    @apply font-inter;
  }
  body {
    /*
     @apply dark:bg-dark-background; 
    background: radial-gradient(
        circle,
        transparent 20%,
        #f8f9fa 20%,
        #f8f9fa 80%,
        transparent 80%,
        transparent
      ),
      radial-gradient(
          circle,
          transparent 20%,
          #f8f9fa 20%,
          #f8f9fa 80%,
          transparent 80%,
          transparent
        )
        50px 50px,
      linear-gradient(#f3f5f7 8px, transparent 8px) 0 -4px,
      linear-gradient(90deg, #f3f5f7 8px, transparent 8px) -4px 0;
    background-color: #f8f9fa;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
    /* background-attachment: fixed; */
    @apply bg-gray-50 dark:bg-gray-800;
  }
}

.nav-bar-item.router-link-active {
  @apply border-b-2  border-light-accent  !important;
}

.p-parent-div {
  @apply my-2 font-asap text-black dark:text-white;
}

.img-parent-div {
  @apply flex justify-center mx-8 my-4;
}

.img-parent-div > img {
  @apply shadow-xl;
}

.p-parent-div + p {
  @apply mb-2;
}

.docs-ul {
  @apply ml-4 mb-2 font-asap text-black dark:text-white;
}
