@tailwind base;

@tailwind components;

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), url(./fonts/Bitter-Bold.ttf) format("ttf");
}

@tailwind utilities;

@layer utilities {
  @variants responsive {
    .w-99vw {
      width: 99vw;
    }
    .h-99vh {
      height: 99vh;
    }
    .h-40vh {
      height: 40vh;
    }
  }
  @variants dark {
  }
}

@layer components {
}

@layer base {
  button {
    @apply font-sans;
  }
}
.nav-bar-item.router-link-active {
  @apply border-b-2  border-gray-900 dark:border-white !important;
}
